/* src/App.css */
.App {
  text-align: center; /* Exemplo */
}

.page-content {
  padding-top: 20px; /* Espaço abaixo do header */
  padding-bottom: 60px; /* Espaço acima do footer (ajuste conforme a altura do seu footer) */
  min-height: calc(100vh - 120px); /* Exemplo para ocupar a altura da tela menos header e footer */
}